<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="nav-item nav-link active" id="getArt">Get More Articles <span
          class="sr-only">(current)</span></button>
      <a class="nav-item nav-link" href="#">Saved</a>

    </div>
  </div>
</nav>
<container>
  <div class="card">
    <div class="card-body">
      <ul>
        {{#each data}}
        {{#if saved}}
        <ul>Title: {{title}}</ul>
        <ul> Link: {{link}} </ul>
        <ul> Summary: {{summary}}</ul>
        <ul>Note: {{note}}</ul>
        <ul> <button class="addNote" data-id="{{_id}}">Add Note</button></ul>
        <ul> <div id="notes"></div></ul> 
    
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

</container>